<!-- Carousel section start-->
<div class="carousel-furniture">
    <div class="container ctn-box"  >
      <div class="" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
          <div class="slider-categories" fxFlex="100" fxFlex.gt-md="25" fxFlex.md="40">
              <div class="categories-wrap" >
                  <div class="title"> TOP CATEGORIES</div>
                    <app-categories-furniture></app-categories-furniture>
                    <div class="btn-sale">
                        <button mat-raised-button color="primary">USE THE DISCOUNT - 60% OFF</button>
                    </div>
                    </div>
          </div>
          <div class="carousel-2-wrapper" fxLayout.sm="column" fxFlex="100" fxFlex.gt-md="75" fxFlex.md="60" fxFlex.sm="100">
           
              <app-menu></app-menu>
         
              <app-main-carousel [slides]="slides"></app-main-carousel>
          </div>
      </div>
    </div>
  </div>
<!-- Carousel section end-->
<!-- Info section start-->
  <div class="info-bar2-wrap mb-30">
    <div class="container">
      <div fxLayout="row wrap" class="info-bar">
          <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon mat-stroked-button color="primary" class="mat-icon-xlg  m-0">card_giftcard</mat-icon>
                <div class="content">
                  <p>BONUS PLUS</p>
                  <span class="text-muted m-0">Get a bonus plus for buying more that three products</span>
                </div>
              </mat-card>
            </div>
            <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon mat-stroked-button color="primary" class="mat-icon-xlg  m-0">local_shipping</mat-icon>
                <div class="content">
                  <p>FREE SHIPPING</p>
                  <span class="text-muted m-0">Free shipping on all orders over $99</span>
                </div>
              </mat-card>
            </div>
            <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon mat-stroked-button color="primary" class="mat-icon-xlg m-0">monetization_on</mat-icon>
                <div class="content">
                  <p>MONEY BACK GUARANTEE</p>
                  <span class="text-muted m-0">100% money back guarantee</span>
                </div>
              </mat-card>
            </div>
            <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
              <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
                <mat-icon mat-stroked-button color="primary" class="mat-icon-xlg m-0">history</mat-icon>
                <div class="content">
                  <p>ONLINE SUPPORT 24/7</p>
                  <span class="text-muted m-0">Call us: 02 3555 65454 55</span>
                </div>
              </mat-card>
            </div>
      </div>

    </div>
  </div>
  <!-- Info section end-->
<!-- Baner section start-->
  <div class="container">
    <div class="banners-container" fxLayout="column" fxLayout.gt-sm="row" *ngIf="baners.length > 0">
    
        <div class="sec-padding" fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="100" class="baners">
            <div class="baner first"  [ngStyle]="getBgImage(0)">
              <div class="info">
                  <div class="text-box">
                      <h4>{{getBanner(0).title}}</h4>
                      <p>{{getBanner(0).subtitle}}</p>
                      <a href="#">Shop Now</a>
                  </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="60">
              <div class="mt-20" fxLayout="column" fxLayout.gt-sm="row" fxFlexOrder="2" fxFlexOrder.gt-sm="2" fxFlex="50" fxFlex.gt-sm="50">
                  <div class="baner seccond" fxFlex [ngStyle]="getBgImage(1)">
                      <div class="info" >
                          <div class="text-box text-right" fxLayout="column" >
                              <h4>{{getBanner(1).title}}</h4>
                              <a href="#">Shop Now</a>
                          </div>
                      </div>
                  </div>
                  <div class="baner seccond pd-xs" fxFlex [ngStyle]="getBgImage(2)">
                      <div class="info" >
                          <div class="text-box " fxLayout="column" >
                              <h4>{{getBanner(2).title}}</h4>
                              <a href="#">Shop Now</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="baner seccond mg-xs-0" fxFlexOrder="1" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="100" [ngStyle]="getBgImage(3)">
                  <div class="info" >
                      <div class="text-box w-50 pt-40 " fxLayout="column" >
                          <h4>{{getBanner(3).title}}</h4>
                          <a href="#">Shop Now</a>
                      </div>
                  </div>
              </div>
          </div>
    </div>
        
       </div>
       <!-- Baner section end-->
       <!-- Product section start-->
       <div class="products products-furniture sec-padding">
        <div class="container">
          <h3>POPULAR ITEMS</h3>
            <mat-tab-group>

                <mat-tab  label="FEATURED PRODUCTS">

                         <app-product-carousel-two [product]="products | slice:0:5"></app-product-carousel-two>


                </mat-tab>

                <mat-tab label="LATEST PRODUCTS">

                        <app-product-carousel-two [product]="products | slice:5:13"></app-product-carousel-two>

                </mat-tab>

                <mat-tab label="ON SALE PRODUCTS">

                          <app-product-carousel-two [product]="products | slice:13:22"></app-product-carousel-two>

                </mat-tab>

              </mat-tab-group>
        </div>

      </div>
       <!-- Product section end-->

        <!-- Baner section start-->
        <section class="commercial-banner" fxLayout="column" fxLayout.gt-sm="row">   
            <!--Image Column-->
               <div class="image-column" fxFlex="50">
                   <img src="assets/images/background/commercial-baner.jpg" alt="">
               </div>
       
               <!--Content Column-->
               <div class="story__content" fxFlex="50">
                   <div class="inner-column">
                       <!--Sec Title-->
                               <div class="section-titleBar text-left">
                                   <h1>Everything you<br>need to create<br> your outdoor <br>oasis</h1>
                                   <button mat-raised-button color="primary">Shop now</button>
                               </div>
       
              
       
                   </div>
               </div>
       
          
       </section>
        <!-- Baner section end-->

        <!-- Vertical products start-->
<app-product-vertical [products]="products"></app-product-vertical>
<!-- Vertical products end-->