<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Chairs']">Chairs</a></li>
        <li><a [routerLink]="['/home/products/Lights']">Lights</a></li>  
        <li><a [routerLink]="['/home/products/Accesories']">Accesories</a></li>
        <li><a [routerLink]="['/home/products/Furniture']">Furniture</a></li>  
        <li><a [routerLink]="['/home/products/Furniture']">Bedrooms</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio']">Accesories</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Cloks</a></li>
        <li><a [routerLink]="['/home/products/Tv & Audio']">Lighting</a></li>
        <li><a [routerLink]="['/home/products/Watches']">Living room</a></li>
    </ul>
</div>